--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple
torch
torchvision
torchaudio
git+https://github.com/m-bain/whisperx.git
transnetv2-pytorch
opencv-python-headless
pillow
librosa
transformers
sentence-transformers
timm
colorlog
pandas
scikit-learn
ffmpeg-python
python-dotenv
PyYAML
tmdbv3api
google-generativeai
pika
Flask
